<div id="article" class="article-sections">
  <div class="article-section">
    <h2 class="article-header"></h2>
    <div class="article-paras">
      <p class="article-para"></p>
    </div>
  </div>
</div>