<div class="fixed-image-container full-height" data-name="fixed-image">
  <h2 class="fixed-image-text">{{imageFixed.title}}</h2>
  <div class="fixed-image-background full-height">
      <picture class="fixed-image-picture">
        <!-- portrait: high-res, then low res (480px) -->
        <source data-name="High resolution Portrait (818x1472)"  media="(max-aspect-ratio: 1/1) and (min-width: 481px) and (max-width: 800px)" srcset="images/placeholders/818x1472.png">
        <source data-name="Low resolution Portrait (414x736)"    media="(max-aspect-ratio: 1/1) and (max-width: 480px)" srcset="images/placeholders/414x736.png">
        <!-- landscape -->
        <source data-name="High resolution Landscape (1600x900)" media="(min-width: 1600px)" srcset="images/placeholders/1600x900.png"> 
        <source data-name="Low resolution Landscape (1024x768)"  media="(min-width: 1024px)" srcset="images/placeholders/1024x768.png"> 
        <!-- fallback -->
        <img    data-name="Default (800x600)" class="fixed-image-img full-height" src="images/placeholders/800x600.png" alt="Fixed background image">
      </picture>
  </div>
</div>
