  <div class="image-center" data-name="image-center">
    <figure class="image-center-figure">
      <picture>
        <source data-name="High resolution (1600x900)" media="(min-width: 1600px)" srcset="images/placeholders/1600x900.png"> 
        <source data-name="Mid resolution (1024x768)"  media="(min-width: 1024px)" srcset="images/placeholders/1024x768.png"> 
        <source data-name="Low resolution (640x480)"   media="(max-width: 480px)"  srcset="images/placeholders/640x480.png"> 
        <img    data-name="Default (800x600)"  class="image-center-img" src="images/placeholders/800x600.png" alt="Image description">
      </picture>
      <figcaption class="image-center-caption">
        <p>{{imageCenter.caption}}</p>
      </figcaption>
    </figure>
  </div>
  