.section .article-right {
  .article-right-img {
    height: auto;
    width: 100%;
    margin-bottom: 1.6rem;
  }
  @media screen and (min-width:550px){
  .article-right-img {
      float: left;
      margin-right: 1.6rem;
      margin-bottom: 1.6rem;
      max-height: 400px;
      max-width: 50%;
      width:auto;
    }
  }
}