.article-center {
	color: black;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  @media screen and (min-width:550px){
    margin: 0 auto;
    width: 65%;
  }
}

.article-center__heading {
  padding-top:1rem;
}
