.fixed-image-container {
  background: url(https://placehold.it/1600x900);
  background-attachment:fixed;  
  background-position:center;
  width: 100%;
}

.fixed-image-text-container {
  color: #fff;
  height:100vh;
  position: relative;
}

.fixed-image-text {
  font-size:6rem;
  font-weight: bold;
  margin-top: -4rem;
  position:absolute;
  text-align:center;
  top:50%;
  width:100%;
}

