.image-center {
  margin-top:2.4rem;
  margin-bottom:1.6rem
}
.image-center-img {
  height: auto;
  margin-bottom:-8px;
  width: 100%;
}
.image-center-caption {
  background-color: #333;
  color: #fff;
  font-size:1.4rem;
  line-height:2.4rem;
  margin-top:0;
  padding: 0 6px 0 6px;
}