/*
 * https://gist.github.com/pburtchaell/e702f441ba9b3f76f587
 * http://webdesignerwall.com/tutorials/css-fix-for-ios-vh-unit-bug#comments
*/

/* fix iOS bug not displaying 100vh correctly */

.full-height { 
  min-height: 100vh;
}

@media (min-height: 320px) and (min-device-height: 320px) and (orientation: landscape) {
  .full-height { 
    min-height: 320px;
  }
}
@media (min-height: 360px) and (min-device-height: 360px) and (orientation: landscape) {
  .full-height { 
    min-height: 360px;
  }
}
@media (min-height: 414px) and (min-device-height: 414px) and (orientation: landscape) {
  .full-height { 
    min-height: 414px;
  }
}
@media (min-height: 568px) and (min-device-height: 568px) {
  .full-height { 
    min-height: 568px;
  }
}
@media (min-height: 640px) and (min-device-height: 640px) {
  .full-height { 
    min-height: 640px;
  }
}
@media (min-height: 667px) and (min-device-height: 667px) {
  .full-height { 
    min-height: 667px;
  }
}
@media (min-height: 736px) and (min-device-height: 736px) {
  .full-height { 
    min-height: 736px;
  }
}
@media (min-height: 768px) and (min-device-height: 768px) {
  .full-height { 
    min-height: 768px;
  }
}
@media (min-height: 800px) and (min-device-height: 800px) {
  .full-height { 
    min-height: 800px;
  }
}
@media (min-height: 960px) and (min-device-height: 960px) {
  .full-height { 
    min-height: 960px;
  }
}
@media (min-height: 1024px) and (min-device-height: 1024px) {
  .full-height { 
    min-height: 1024px;
  }
}
@media (min-height: 1200px) and (min-device-height: 1200px) {
  .full-height { 
    min-height: 1200px;
  }
}
@media (min-height: 1376px) and (min-device-height: 1376px) {
  .full-height { 
    min-height: 1376px;
  }
}
