.scrollmation-container {
  a {
    color: #191919;
    border-bottom: 1px solid #dcdcdc;
  }
  a:hover {
    color: #337ab7;
    border-bottom: 1px solid #dcdcdc;
    text-decoration: none;
  }
}

.scrollmation-image-container {
  height:100vh;
  left:0;
  width:100%;
  overflow:hidden;
  z-index:-1;
}

.scrollmation-image-container-top {
   position:absolute;
   top:0;
}

.scrollmation-image-container-bottom {
   position:absolute;
   bottom:0;
}

.scrollmation-image-container-fixed {
  position:fixed;
  top: 0;
}

.scrollmation-image {
  min-height: 100vh;
  width: auto;
  min-width: 100%;
}

div.scrollmation-text.scrollmation-text-js {
  blockquote {
    padding: 36px 4px 1rem 14px;
  }
  img {
    display: block;
    height: auto;
    margin: 1.6rem auto 0;
    max-width: 100%;
    margin-bottom: 2.6rem;
  }
}

.scrollmation-text-js {
  padding-top: 2.4rem;
  background-color: rgba(255, 255, 255, 0.75);
  min-height:100vh;
  padding-left:2%;
  padding-right:2%;
  word-wrap: break-word;
  padding-bottom: 1.6rem;
  @media screen and (orientation:portrait) {
    margin-left:2%;
    margin-right:2%;
    width:45%;
  }
  @media screen and (orientation:landscape) {
    margin-left:6%;
    margin-right:6%;
    width:33%;
  }
}