$section-padding: 1rem;
$section-margin: 1rem;

.section {
  box-sizing: border-box;
  padding: $section-padding;
  margin: 0;
  width: 100%;
}

.section--hero {
  background-color: #cc0000;
  border-bottom: 0px solid $border-color;
  color: #fff;
  padding: 2rem;
  margin: 0;
}

