@import 'colors';
@import 'fonts';
@import 'sections';
@import 'languages';

@import 'hero-center';
@import 'article-full-width';
@import 'article-left';
@import 'article-right';
@import 'stat-text';
@import 'image-center';
@import 'image-fixed';
@import 'video';
@import 'video-full-width';
@import 'youtube-full-width';
@import 'scrollmation-text-left';

@import 'animations';


// the elems below exist in a variety of the templates above..
//
// they could be moved to a "_inline_elems.scss" or "_editables.scss", etc
//
.article {
  margin-top: 2.4rem;
  margin-left:2%;
  margin-right:2%;
  a {
    color: #191919;
    border-bottom: 1px solid #dcdcdc;
  }
  a:hover {
    color: #337ab7;
    border-bottom: 1px solid #dcdcdc;
    text-decoration: none;
  }
  img {
    display: block;
    height: auto;
    margin: 0 auto;
    margin-top: 1.6rem;
    max-width: 550px;
    width: 100%;
  }
  @media screen and (min-width:600px){
    margin-left:8%;
    margin-right:8%;
  }
  @media screen and (min-width:800px){
    margin-left:16.4%;
    margin-right:16.4%;
  }
  @media screen and (min-width:1200px){
    margin-left:20%;
    margin-right:20%;
  }
  @media screen and (min-width:1600px){
    margin-left:24%;
    margin-right:24%;
  }
}

// https://stackoverflow.com/questions/15015019/prevent-chrome-from-wrapping-contents-of-joined-p-with-a-span?answertab=votes#tab-top
.article p, .article .article span  {
  font-size: 1.6rem;
}

.article blockquote, .article blockquote span {
  font-size: 2rem;
}

//https://codepen.io/maxds/pen/DcveB
.section {
  blockquote {
    border-left: 6px solid #900;
    display: block;
    font-size: 2rem;
    font-style: italic;
    margin: 0 auto;
    margin-bottom: 2rem;
    max-width: 720px;
    padding: 16px 50px 1rem 60px;
    position: relative;
    margin-left: 0;
  }

  blockquote::before{
    color: #333;
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 8rem;
    font-style: normal;
    font-weight: bold;
    line-height: 6rem;
    padding: 0;
    position: absolute;
    margin: 0;
    left: 10px;
    top: 0;
  }

  blockquote::after{
    /*Reset to make sure*/
    content: "";
  }

  blockquote a{
    text-decoration: none;
    cursor: pointer;
    padding: 0 3px;
  }

  blockquote a:hover{
  }

  blockquote em{
    font-style: italic;
  }
}

.section .article img.inline-image {
  max-width:100%;
  margin-bottom: 2.6rem;
}

.clear {
  float:none;
  clear:both;
}

.hidden {
  opacity: 0 !important;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
