@import 'colors';
@import 'fonts';
@import 'sections';

@import 'hero-center';
@import 'article-center';
@import 'article-full-width';
@import 'article-left';
@import 'article-right';
@import 'image-center';

.article {
  margin-top: 2.4rem;
}

.clear {
  float:none;
  clear:both;
}