@import 'colors';
@import 'fonts';

@import 'hero';
@import 'article-center';
@import 'article-left';
@import 'article-right';

.page-body {
  padding:4px;
}

.section {
	border-bottom: 0px solid $border-color;
}

.clear {
  clear:both;
} 