<div class="article-center clear">
  <h3>Centered Article</h3>
  <p>
    Lorem ipsum thing another paragraph. Lorem ipsum thing another example paragraph. Lorem ipsum thing example paragraph. Lorem ipsum thing another paragraph. Lorem ipsum thing another example paragraph.
  </p>
  <p>
    Lorem ipsum thing another example paragraph. Lorem ipsum thing another example paragraph. Lorem ipsum thing example paragraph. Lorem ipsum thing example paragraph. Lorem ipsum thing another example paragraph.
  </p>
</div>