<div class="article-right">
  <h3>Right Floated Article</h3>
  <p>
    Lorem ipsum thing another paragraph. Lorem ipsum thing another example paragraph. Lorem ipsum thing example paragraph. Lorem ipsum thing another paragraph. Lorem ipsum thing another example paragraph.
  </p>
  <p>
    Lorem ipsum thing another example paragraph. Lorem ipsum thing another example paragraph. Lorem ipsum thing example paragraph. Lorem ipsum thing example paragraph. Lorem ipsum thing another example paragraph.
  </p>
</div>