<div class="article-full-width clear">
  <h3>Full Width Article</h3>
  <p>
    Lorem ipsum thing another paragraph. Lorem ipsum thing another example paragraph. Lorem ipsum thing example paragraph. Lorem ipsum thing another paragraph. Lorem ipsum thing another example paragraph.
  </p>
  <p>
    Lorem ipsum thing another example paragraph. Lorem ipsum thing another example paragraph. Lorem ipsum thing example paragraph. Lorem ipsum thing example paragraph. Lorem ipsum thing another example paragraph.
  </p>
</div>