<div class="article-right clear">
  <img src="http://placehold.it/550x550" alt="" />
  <h2>Right Floated Article</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pharetra erat sit amet orci auctor finibus. Sed at aliquet enim, vel tincidunt mauris. Quisque vestibulum id justo at ullamcorper. Nam sit amet lectus dui. Sed est erat, rhoncus sit amet dui in, pretium varius mauris.</p>

  <p>Donec varius malesuada orci, ut condimentum nunc fermentum non. Phasellus lacinia pulvinar lorem, non elementum risus lobortis sed. Aenean nulla libero, posuere id ultricies et, molestie non odio. Nulla convallis orci ac sapien tempor suscipit commodo at turpis. Sed ornare tellus id feugiat euismod.</p>

  <p>Aenean a porta purus, in lobortis ligula. Maecenas dapibus elementum enim, vel porttitor mi efficitur vitae. Aliquam porta felis quam, in malesuada lectus aliquet eu. Cras id semper urna, vitae sagittis lacus. Pellentesque non consequat quam. Nulla tortor purus, efficitur et ligula in, viverra augue.</p>
</div>
