<!-- https://codepen.io/dropside/full/bxhke/ -->
<div class="fixed-image-container">
    <div class="fixed-image-text-container">
      <h2 class="fixed-image-text">
        Fixed image text is in here
      </h2>
  </div>
</div>