<div class="article stat-text">
  <p>Lorem ipsum dolor sit amet, <span class="stat-text-highlight">consectetur</span> adipiscing elit. Mauris pharetra erat sit amet orci auctor finibus. Sed at <span class="stat-text-highlight">aliquet enim</span>, vel tincidunt mauris.</p>

  <p>Donec varius malesuada orci, ut <span class="stat-text-highlight">non elementum</span> condimentum nunc fermentum non. Phasellus lacinia pulvinar lorem, non elementum risus lobortis sed.</p>

</div>
<!-- js -->