<div class="video-full-width-container">
<iframe 
  class="video-full-width"
  frameborder="0"
  allowfullscreen
  src="//www.youtube.com/embed/r6sgojf-LzM?start=11&autoplay=0&controls=0&autohide=1&showinfo=1&modestbranding=1&cc_load_policy=1&iv_load_policy=3&loop=1"
></iframe>