  <div class="article article-full-width" data-name="article-full-width">
    <h2>{{articleHeading}}</h2>
    <div class="editable-region">
      <p>{{para}}</p>
      <p>{{para}}</p>
      <p>{{para}}</p>
    </div>
  </div>