  <div class="article article-left" data-name="article-left">
    
    <picture>
      <img class="article-left-img" src="{{imagePlaceholder}}" alt="" />
    </picture>
    
    <h2>{{article.heading}}</h2>
    
    <div class="cms-editable-region">
      <p>{{article.para}}</p>
      <p>{{article.para}}</p>
      <p>{{article.para}}</p>
    </div>
    
  </div>
  