  <div class="article article-right" data-name="article-right">
    
    <picture>
      <img class="article-right-img" src="{{imagePlaceholder}}" alt="" />
    </picture>
    
    <h2>{{articleHeading}}</h2>
    
    <div class="editable-region">
      <p>{{para}}</p>
      <p>{{para}}</p>
      <p>{{para}}</p>
    </div>

  </div>
