  <div class="article article-full-width" data-name="article-full-width">
    <h2>{{article.heading}}</h2>
    <div class="cms-editable-region">
      <p>{{article.para}}</p>
      <p>{{article.para}}</p>
      <p>{{article.para}}</p>
    </div>
  </div>
  