  <div class="article article-left">
    
    <img src="{{imagePlaceholder}}" alt="" />
    
    <h2>{{articleHeading}}</h2>
    
    <div class="editable-region">
      <p>{{para}}</p>
      <p>{{para}}</p>
      <p>{{para}}</p>
    </div>
    
  </div>