  <div class="article article-left">
    
    <picture>
      <img class="article-left-img" src="{{imagePlaceholder}}" alt="" />
    </picture>
    
    <h2>{{articleHeading}}</h2>
    
    <div class="editable-region">
      <p>{{para}}</p>
      <p>{{para}}</p>
      <p>{{para}}</p>
    </div>
    
  </div>