<script src="cms/js/vendor.js"></script>
<script src="cms/js/cms.js"></script>
<script id="cms-init" type="text/javascript">
// load cms with custom options
var cms = require('cms');
var cmsConfig = {
  'templates'       :           [ '_hero-center.tmpl', '_article-full-width.tmpl', '_article-left.tmpl', '_article-right.tmpl', '_image-center.tmpl', '_image-fixed.tmpl', '_scrollmation-text-left.tmpl', '_stat-text.tmpl', '_youtube-full-width.tmpl', '_video.tmpl', '_video-full-width.tmpl' ],
  'sectionSelector' :           'body .section',
  'sectionContainer':           '<div class="section"></div>', 
  'editableItems'   :           [ 'h1', 'h2', 'p', 'blockquote', 'li' ],
  'editableClass'   :           'cms-editable',
  'editableRegionClass' :       'cms-editable-region',
  'inlineMediaRegionSelector':  '.scrollmation-container p[contenteditable],.article:not(.article-right):not(.article-left) p[contenteditable]',
  'responsiveImageSelector':    'picture, .scrollmation-container, .inline-image',
  'videoSelector'   :           'video',
  'mustardClass'    :           'html5 js',
  'api': {
    'upload'    : 'cms/api/upload.php',
    'preview'   : 'cms/api/preview.php',
    'translate' : 'cms/api/translation.php',
    'save'      : 'cms/api/save.php',
    'logout'    : 'cms/api/logout.php'

  }
};
cms.init(cmsConfig);
</script>

{{#test}}
<!-- 
This will test-runner not be included unless 
brunch is run with `BUILD=with-tests brunch b`
or the cmd `npm test` is run..
-->
<script src="test/js/test.js"></script>
<script>
  require('src/test/test_runner.js');
</script>
{{/test}}