  <!-- scripts for CMS -->
  <script src="cms/js/vendor.js"></script>
  <script src="cms/js/cms.js"></script>
  <script type="text/javascript">
    // load cms with custom options
    var cms = require('cms');
    var cmsConfig = {
      'name'            :           'custom options',
      'sectionSelector' :           'body .section',
      'sectionContainer':           '<div class="section"></div>', 
      'editableItems'   :           [ 'h1', 'h2', 'p', 'li' ],
      'editableRegionClass' :       'editable-region',
      'inlineMediaContainers' :     '.scrollmation-container p[contenteditable],.article:not(.article-right):not(.article-left) p[contenteditable]',
      'responsiveImageSelector':    'picture, .scrollmation-container',
      'mustardClass'    :           'with-cms',
    };
    cms.init(cmsConfig);
  </script>