  <div class="hero-center full-height" data-name="hero-center">
    <picture class="hero-picture">
        <!-- portrait: high-res, then low res (480px) -->
        <source data-name="High resolution Portrait (818x1472)"  media="(max-aspect-ratio: 1/1) and (min-width: 481px) and (max-width: 800px)" srcset="images/placeholders/818x1472.png">
        <source data-name="Low resolution Portrait (414x736)"    media="(max-aspect-ratio: 1/1) and (max-width: 480px)" srcset="images/placeholders/414x736.png">
        <!-- landscape -->
        <source data-name="High resolution Landscape (1600x900)" media="(min-width: 1600px)" srcset="images/placeholders/1600x900.png"> 
        <source data-name="Low resolution Landscape (1024x768)"  media="(min-width: 1024px)" srcset="images/placeholders/1024x768.png"> 
        <!-- fallback -->
        <img    data-name="Default (800x600)" class="hero-image full-height" src="images/placeholders/800x600.png">
    </picture>
    <div class="hero-text-container">
      <div class="hero-text-titles-container">
        <h1  class="hero-title">{{hero.title}}</h1>
        <p class="hero-subtitle">{{hero.subtitle}}</p>
      </div>
      <div class="hero-text-meta-container">
        <div class="hero-meta-field">
          <span class="hero-meta">Author:</span>
          <p class="hero-meta-value">{{hero.name}}</p>
        </div>
        <div class="hero-meta-field">
          <span class="hero-meta">Date:</span>
          <p class="hero-meta-value">{{hero.date}}</p>
        </div>
      </div>
    </div>
  </div>
