  <div class="hero-center">
    <h1>Example Hero Title</h1>
    <p>The subtitle goes in here.</p>
  </div>
  <div class="hero-details">
    <div>Author: <p>Bob Smith</p></div>
    <div>Date: <p>12/34/67</p></div>
  </div>
