  <div class="hero-center">
    <h1>{{heroTitle}}</h1>
    <p>{{heroSubTitle}}</p>
  </div>
  <div class="hero-details">
    <div>Author: <p>{{authorName}}</p></div>
    <div>Date: <p>{{publishedDate}}</p></div>
  </div>
