  <div class="image-center">
    <figure class="image-center-figure">
      <picture>
        <source media="(min-width: 1600px)" srcset="images/placeholders/1600x900.png"> 
        <source media="(min-width: 1024px)" srcset="images/placeholders/1024x768.png"> 
        <source media="(min-width: 641px)" srcset="images/placeholders/800x600.png"> 
        <img class="image-center-img" src="images/placeholders/640x480.png" alt="Image description">
      </picture>
      <figcaption class="image-center-caption">
        <p>{{fullWidthImageCaption}}</p>
      </figcaption>
    </figure>
  </div>