<script id="image-fixed-js" type="text/javascript">
  // console.log(app.cutsTheMustard());

  var fixedImages = $('.fixed-image-text');

  fixedImages.addClass('anim-fade-1s transparent');
  
  var watchers = $('.fixed-image-text').each(function addWatchers(el){
    var $el = $(el);
    var watcher = scrollMonitor.create(el);

    watcher.fullyEnterViewport(function(){
      $el.removeClass('transparent');
    });

    watcher.exitViewport(function(){
      $el.addClass('transparent');
    });

  });

</script>