<div class="fixed-image-container">
  <h2 class="fixed-image-text">{{fixedImageText}}</h2>
  <div class="fixed-image-background">
      <picture class="fixed-image-picture">
        <!-- portrait: low res (1001w), then high res -->
        <source media="(max-aspect-ratio: 1/1)" 
          srcset="images/placeholders/414x736.png 480w, 
          images/placeholders/900x1600.png">
        <!-- landscape -->
        <source srcset="images/placeholders/800x600.png 768w,
          images/placeholders/1024x768.png 1200w,
          images/placeholders/1600x900.png">
        <img class="fixed-image-img" src="images/placeholders/800x600.png">
      </picture>
  </div>
</div>