  <div class="image-center">
    <figure class="image-center-figure">
      <picture>
        <source media="(min-width: 960px)" srcset="http://placehold.it/1024x600"> 
        <source media="(min-width: 550px)" srcset="http://placehold.it/800x500"> 
        <img class="image-center-img" src="http://placehold.it/550x300" alt="Image description">
      </picture>
      <figcaption class="image-center-caption">
        <p>Full-width image here</p>
      </figcaption>
    </figure>
  </div>