<div class="fixed-image-container">
  <h2 class="fixed-image-text">{{fixedImageText}}</h2>
  <div class="fixed-image-background">
      <picture class="fixed-image-picture">
        
        <!-- portrait: low res (480px) -->
        <source media="(max-aspect-ratio: 1/1) and (max-width: 480px)" srcset="images/placeholders/414x736.png">
        <!-- then portrait high res -->
        <source media="(max-aspect-ratio: 1/1)" srcset="images/placeholders/818x1472.png">
          
        <!-- landscape -->
        <source media="(min-width: 1600px)" srcset="images/placeholders/1600x900.png"> 
        <source media="(min-width: 1024px)" srcset="images/placeholders/1024x768.png"> 
        <!-- fallback -->
        <img class="fixed-image-img" src="images/placeholders/800x600.png">
      </picture>
  </div>
</div>