  <div class="image-center">
    <picture>
      <source media="(min-width: 960px)" srcset="http://placehold.it/1024x600"> 
      <source media="(min-width: 550px)" srcset="http://placehold.it/800x500"> 
      <img class="image-center-img" src="http://placehold.it/550x300" alt="Image description">
    </picture>
    <figcaption class="image-center-caption">Full-width image here</figcaption>
  </div>