<script src="//cdn.polyfill.io/v2/polyfill.min.js"></script>
  <!--[if IE]>
    <script src="js/polyfills/es5-shim.min.js"></script>
    <script src="js/polyfills/es5-sham.min.js"></script>

    <script src="js/polyfills/html5shiv.min.js"></script>
    <script src="js/polyfills/html5shiv-printshiv.min.js"></script>

    <script src="js/polyfills/json3.min.js"></script>

    <script src="js/polyfills/picturefill.min.js"></script>
    <script>
      document.createElement( "picture" );
    </script>

    <script src="js/polyfills/html5media.min.js"></script>

    <script src="js/polyfills/respond.min.js"></script>
  <![endif]-->