  <div class="scrollmation-container" data-name="scrollmation">
    <div class="scrollmation-start"></div>
    <div class="scrollmation-image-container">
      <picture class="scrollmation-image">
        <!-- portrait: high-res, then low res (480px) -->
        <source data-name="High resolution Portrait (818x1472)"  media="(max-aspect-ratio: 1/1) and (min-width: 481px)" srcset="images/placeholders/818x1472.png">
        <source data-name="Low resolution Portrait (414x736)"    media="(max-aspect-ratio: 1/1) and (max-width: 480px)" srcset="images/placeholders/414x736.png">
        <!-- landscape -->
        <source data-name="High resolution Landscape (1600x900)" media="(min-width: 1600px)" srcset="images/placeholders/1600x900.png"> 
        <source data-name="Low resolution Landscape (1024x768)"  media="(min-width: 1024px)" srcset="images/placeholders/1024x768.png"> 
        <!-- fallback -->
        <img    data-name="Default" class="scrollmation-image" src="images/placeholders/800x600.png">
      </picture>
    </div>
    <div class="article scrollmation-text">
      <h2>{{article.heading}}</h2>
      <div class="cms-editable-region">
        <p>{{article.para}}</p>
        <p>{{article.para}}</p>
        <p>{{article.para}}</p>
        <p>{{article.para}}</p>
        <p>{{article.para}}</p>
        <p>{{article.para}}</p>
        <p>{{article.para}}</p>
        <p>{{article.para}}</p>
        <p>{{article.para}}</p>
        <p>{{article.para}}</p>
      </div>
    </div>
    <div class="scrollmation-end"></div>
  </div>
  