<script id="scrollmation-text-left-js" type="text/javascript">
  // console.log(app.cutsTheMustard());

  var scrollmationStartTags = $('.scrollmation-start');
  var scrollmationTextTags = $('.scrollmation-text');
  var scrollmationEndTags = $('.scrollmation-end');
  var $container = $('.scrollmation-image-container');

  var startWatchers = scrollmationStartTags.each(function addWatchers(el){
    var $el = $(el);
    var watcher = scrollMonitor.create(el);

    watcher.enterViewport(function() {
      $container.removeClass('scrollmation-image-container-fixed');
      $container.removeClass('scrollmation-image-container-bottom');
      $container.addClass('scrollmation-image-container-top');
    });

  });

  var textWatchers = scrollmationTextTags.each(function addWatchers(el){
    var $el = $(el);
    var watcher = scrollMonitor.create(el);

    watcher.fullyEnterViewport(function(){
      $container.removeClass('scrollmation-image-container-top');
      $container.removeClass('scrollmation-image-container-bottom');
      $container.addClass('scrollmation-image-container-fixed');
    });

  });

  var endWatchers = scrollmationEndTags.each(function addWatchers(el){
    var $el = $(el);
    var watcher = scrollMonitor.create(el);

    watcher.enterViewport(function(){
      $container.removeClass('scrollmation-image-container-fixed');
      $container.removeClass('scrollmation-image-container-top');
      $container.addClass('scrollmation-image-container-bottom');
    });

  });

</script>