  <div class="scrollmation-container">
    <div class="scrollmation-start"></div>
    <div class="scrollmation-image-container">
      <picture>
        <!-- portrait: low res (480px) -->
        <source media="(max-aspect-ratio: 1/1) and (max-width: 480px)" srcset="images/placeholders/414x736.png">
        <!-- then portrait high res -->
        <source media="(max-aspect-ratio: 1/1)" srcset="images/placeholders/818x1472.png">
          
        <!-- landscape -->
        <source media="(min-width: 1600px)" srcset="images/placeholders/1600x900.png"> 
        <source media="(min-width: 1024px)" srcset="images/placeholders/1024x768.png">
        <!-- fallback -->
        <img class="scrollmation-image" src="images/placeholders/800x600.png">
      </picture>
    </div>
    <div class="article scrollmation-text">
      <h2>{{articleHeading}}</h2>
      <div class="editable-region">
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
      </div>
    </div>
    <div class="scrollmation-end"></div>
  </div>