  <div class="scrollmation-container">
    <div class="scrollmation-start"></div>
    <div class="scrollmation-image-container">
      <picture>
        <!-- portrait: low res (1001w), then high res -->
        <source media="(max-aspect-ratio: 1/1)" 
          srcset="images/placeholders/660x960.png 480w, 
          images/placeholders/900x1600.png">
        <!-- landscape -->
        <source srcset="images/placeholders/800x600.png 768w,
          images/placeholders/1024x768.png 1200w,
          images/placeholders/1600x900.png">
        <img class="scrollmation-image" src="images/placeholders/800x600.png">
      </picture>
    </div>
    <div class="article scrollmation-text">
      <h2>{{articleHeading}}</h2>
      <div class="editable-region">
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
      </div>
    </div>
    <div class="scrollmation-end"></div>
  </div>