<script id="stat-text-js" type="text/javascript">
  // console.log(app.cutsTheMustard());

  var statTexts = $('.stat-text');

  statTexts.addClass('anim-fade-1s transparent');
  
  var watchers = $('.stat-text').each(function addWatchers(el){
    var $el = $(el);
    var watcher = scrollMonitor.create(el);

    watcher.fullyEnterViewport(function(){
      $el.removeClass('transparent');
    });

    watcher.exitViewport(function(){
      $el.addClass('transparent');
    });

  });

</script>