<!-- "Video For Everybody" http://camendesign.com/code/video_for_everybody -->
<div class="video-full-width-container" data-name="video-full-width">
  
  <video class="video-full-width" controls poster="images/placeholders/video-full-width.png" width="100%" height="auto">
    <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">
    <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" type="video/webm">
    <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" type="video/ogg">
    <img alt="{{video.title}}" src="images/placeholders/video-full-width.png" width="640" height="360" title="No video playback capabilities, please download the video below">
  </video>

</div>