<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="title" content="{{meta.title}}">
    <meta name="description" content="{{meta.desc}}">
    <meta name="author" content="{{meta.author}}">
    <title>{{meta.title}}</title>

    <link href="css/vendor.css" rel="stylesheet" type="text/css">
    <link href="css/base.css" rel="stylesheet" type="text/css">

    <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>

<div class="section">
{{>_hero-center}}
</div>

<!-- scripts -->
<script src="js/vendor.js"></script>    
<script src="js/app.js"></script>
<script id="app-init" type="text/javascript">
  var app = require('app');
  app.init();
</script>
{{>_cms-script}}
</body>
</html>