<?php

#
# Example login management
#
# 1. This page redirects to login until admin passwd is given, then will load as normal
#
# 2. If a translator is trying to login (not admin), keep this info in a php session
#
# 3. Admin and translators each have their own passwords, that is why
#
# 4. All users have unique pwords so only admin can edit english, and translators
#    cant edit each others work

session_start();

# if not logged in
if (!isset($_SESSION['login'])){
  # if translation URL
  if(isset($_GET['translate'])){
    
    # check if translator session is set
    if (!isset($_SESSION['translate'])){

      # no translator session started yet, but ?translate=foo given,
      # so store session record of translator login attempt
      # to ensure redirects dont delete LANG info

      $_SESSION['translate'] = $_GET['translate'];
      
    } else {
      
      # ?translate=foo is present, and translator session is set, 
      # but translator not logged in, prob gave wrong passwd
      # ... so do nothing, they will be redirected to login.php later

    }

  } else { 

    # no ?translate=foo in URL
    # so remove translator login attempt session
    # this will force login.php back to default behaviour (to ask for admin passwd)

    unset($_SESSION['translate']);
  }

  # user not logged in, redirect to login page
  header('Location: cms/api/login.php');
  die;

#
# user is logged in
#
} else {
  
  # we deal with logged in translators here
  if (isset($_SESSION['translate'])){

    
    if (!isset($_GET['translate'])){

      # ?translate=foo is not present in their URL

      # so their translation editor will not load up... 
      # so we will show preview.html page, instead of the editable index.html
      header('Location: preview.html');
      die;

    } else if ($_SESSION['translate'] != $_GET['translate']){

      # if translator logged in but trying to get the wrong LANG
  
      # logout the translator out
      header('Location: cms/api/logout.php');
      die;

    }

    

  }

}
?>
<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Device -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="HandheldFriendly" content="True"/>
  <meta name="format-detection" content="telephone=no">
  <!-- Meta -->
  <meta name="title" content="{{meta.title}}">
  <meta name="description" content="{{meta.desc}}">
  <meta name="author" content="{{meta.author}}">
  <meta name="keywords" content="{{meta.keywords}}">
  <meta name="news_keywords" content="{{meta.keywords}}">
  <title>{{meta.title}}</title>
  <meta name="copyright" content="&copy; {{org.name}}">

  <meta name="robots" content="noindex,nofollow">
    <!-- Apple -->
  <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Twitter -->
  <meta name="twitter:card" content="{{meta.desc}}">
  <meta name="twitter:site" content="{{org.twitter}}">
  <meta name="twitter:title" content="{{meta.title}}">
  <meta name="twitter:description" content="{{meta.desc}}">
  <meta name="twitter:creator" content="{{author.twitter}}">
  <meta name="twitter:image:src" content="{{meta.url}}images/{{hero.image}}">
  <meta name="twitter:player" content="">
  <meta name="twitter:domain" content="{{org.url}}">
    <!-- Facebook -->
  <meta property="og:type" content="article">
  <meta property="og:locale" content="en">
  <meta property="og:title" content="{{meta.title}}">
  <meta property="og:description" content="{{meta.desc}}">
  <meta property="og:site_name" content="{{org.name}}">
  <meta property="og:url" content="{{meta.url}}">
  <meta property="og:image" content="{{meta.url}}images/{{hero.image}}">
  <meta property="article:published_time" content="{{meta.date}}">
  <meta property="article:author" content="http://mysite.com/author-name/">
    <!-- Google Plus -->
  <meta itemprop="name" content="{{meta.title}}">
  <meta itemprop="description" content="{{meta.desc}}">
  <meta itemprop="image" content="{{meta.url}}images/{{hero.image}}">
  <!-- Linked data -->
  <script id="meta-ld" type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "NewsArticle",
    "headline": "{{meta.title}}",
    "headlineAlternative": "{{meta.subtitle}}",
    "datePublished": "{{meta.date}}",
    "dateModified": "{{meta.date}}",
    "description": "{{meta.desc}}",
    "keywords": "{{meta.keywords}}",
    "image": {
      "@type": "ImageObject",
      "height": "800",
      "width": "600",
      "url": "{{meta.url}}images/{{hero.image}}"
    },
    "author": "{{author.name}}",
    "publisher": {
      "@type": "Organization",
      "logo": {
        "@type": "ImageObject",
        "url": "{{meta.url}}images/favicon/favicon.png"
      },
      "name": "{{org.name}}"
    },
    "mainEntityOfPage": "{{meta.url}}",
    "articleBody": "{{meta.desc}}"
  }
  </script>

  <!-- app CSS -->
  <link href="css/vendor.css" rel="stylesheet" type="text/css">
  <link href="css/app.css" rel="stylesheet" type="text/css">
  <!-- favicons -->
  <link rel="icon" type="image/png" href="images/favicon/favicon.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png?v=0.1">
  <link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png?v=0.1" sizes="32x32">
  <link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png?v=0.1" sizes="16x16">
  <link rel="manifest" href="images/favicon/manifest.json?v=0.1">
  <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg?v=0.1" color="#5bbad5">
  <link rel="shortcut icon" href="images/favicon/favicon.ico?v=0.1">
  <meta name="msapplication-config" content="images/favicon/browserconfig.xml?v=0.1">
  <meta name="theme-color" content="#222222">
</head>

<body>

<div class="section">
{{>_hero-center}}
</div>

<!-- scripts -->
<script src="js/vendor.js"></script>    
<script src="js/app.js"></script>
<script id="app-init" type="text/javascript">
  var app = require('app');
  app.init();
</script>
<?php 

# disallow editing of main (english) page if login session is a translator
if (isset($_SESSION['translate'])){

  echo '<script>var translateOnly = true;</script>';

} else {

  echo '<script>var translateOnly = false;</script>';

}
?>

{{>_cms-script}}

</body>
</html>