.html5 {

  .blurred {
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }

  .transparent {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }

  .transition-slow {
    -webkit-transition: opacity 2s ease;
    -moz-transition: opacity 2s ease;
    -ms-transition: opacity 2s ease;
    -o-transition: opacity 2s ease;
    transition: opacity 2s ease;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }

  .transition-med {
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }

  .transition-fast {
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    -ms-transition: opacity 0.25s ease;
    -o-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }

}