.cms-editable-img:hover {
  outline: 1px solid #999;
  opacity: 0.99; //required to get down to scrollmation background
}

.cms-media-chooser {
  h3, p {
    margin-bottom:6px;
  }
  background-color: #eee;
  bottom: 0;
  display: none;
  max-height: 100vh;
  min-height: 100vh;
  position: fixed;
  padding-top:6px;
  width: 100vw;
  top: 0;
  z-index: 20;
}

.cms-media-chooser-btn {
  border: none;
  font-size:4rem;
  font-weight:800;
  position: absolute;
  bottom: 1%;
}

.cms-media-chooser-close-btn {
  color: red;
  right:0;
}

.cms-media-chooser-save-btn {
  color: green;
  right:60px;
}

.cms-media-chooser-upload-btn {
  margin-bottom:24px;
}

.cms-media-chooser-container {
  background-color: #fff;
  border: 1px solid #999;
  overflow: scroll;
  height: 72.5vh;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 12px;
}

.cms-media-chooser-container img {
  display:block;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom:10px;
  height:auto;
  max-height: 70vh;
}

//https://jsfiddle.net/4cwpLvae/
input[type="file"] {
    display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom:24px;
}