.cms-editable-img:hover {
  outline: 1px solid #999;
  opacity: 0.99; //required to get down to scrollmation background
}

.cms-media-chooser {
  h3 {
    padding:12px 0 0 0;
  }
  p {
    margin-bottom:6px;
    padding: 0 12px 6px 12px;
  }
  background-color: #333;
  box-sizing: border-box;
  color: #fff;
  bottom: 0;
  display: none;
  max-height: 100vh;
  min-height: 100vh;
  position: fixed;
  padding:0;
  width: 100vw;
  top: 0;
  z-index: 20;
}

.cms-media-chooser-btn {
  font-weight:bold;
}

.cms-media-chooser-close-btn {
  position: absolute;
  background-color: #444;
  bottom: 1%;
  color: #fff;
  right:2%;
  &:hover, &:focus {
    color: #222;
    text-shadow: 3px 2px 4px #999;
  }
}

.cms-upload-form {}

//https://jsfiddle.net/4cwpLvae/
input[type="file"] {
    display: none;
}
.cms-media-chooser-upload-label {
  border: 1px solid #ccc;
  color: #222;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom:32px;
  pointer-events:all;
}

.cms-media-chooser-upload-label-uploading {
  border: 1px solid transparent;
  pointer-events:none;
}

.cms-media-chooser-upload-label-error {
  border-color: red;
  pointer-events:all;
}

.cms-media-chooser-upload-btn {
}

.cms-media-chooser-container {
  background-color: #fff;
  border: 1px solid #999;
  box-sizing: border-box;
  color: #222;
  overflow: scroll;
  min-height: 90vh;
  max-height: 90vh;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 12px;
  padding-bottom: 50px;
  bottom: 0;
}

.cms-media-chooser-container img {
  display:block;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom:10px;
  height:auto;
  max-height: 70vh;
}

.cms-media-chooser-image-title {
  font-weight: bolder;
  // &:not(:empty):after {
  //   content: ':';
  //   font-weight: bolder;
  // }
}

//spinner - for ajax showing loading
//https://projects.lukehaas.me/css-loaders/
.cms-loader {
  display: inline-block;
  font-size: 1rem;
  text-indent: -9999em;
  width: 2rem;
  height: 2rem;
  margin-top:3px;
  margin-bottom:-3px;
  margin-right:-6px;
  border-radius: 50%;
  background: green;
  background: -moz-linear-gradient(left, green 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, green 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, green 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, green 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, green 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  opacity: 1;
}
.cms-loader-hidden {
  height: 0;
  display: none;
  opacity: 0;
}
.cms-loader:before {
  width: 50%;
  height: 50%;
  background: green;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.cms-loader:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}