// .cms-editable {
//   &:focus, &:hover {
//     background-color: rgba(255, 220, 0, 0.2);
//   }
// }

// [contenteditable]:hover, [contenteditable]:focus {
//   outline-color: rgba(150,25,25,0.75);
//   outline-style: dashed;
//   outline-offset: 4px;
//   outline-width: 2px;
// }

[contenteditable=true]:focus, [contenteditable=true]:hover {
  outline-color: transparent;
  outline-style: dashed;
  outline-offset: 4px;
  outline-width: 2px;
}

.cms-no-outline, .cms-editable-region[contenteditable=true]:hover {
  outline-color: transparent;
  outline-style: dashed;
  outline-offset: 0;
  outline-width: 0;
}

::selection {
  background: #fff2a8;
}
::-moz-selection {
  background: #fff2a8;
}

.cms-inline-media {
  margin-top: 1.6rem;
}

p.cms-editable {
  margin-bottom: 24px;
}

.cms-media-btn {
  &:hover, &:focus {
    background-color: #ddd;
  }
  color: #222;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  padding: 0;
  margin: 0 auto;
  margin-top: 4px;
  margin-bottom: -24px;
  opacity: 0;
  outline-color: transparent;
  outline-style: dashed;
  outline-offset: 0;
  outline-width: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  visibility: hidden;
  width: 80px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

p[contenteditable=true]:hover {
  .cms-media-btn {
    opacity: 1;
    visibility: visible;
  }
}

//https://codepen.io/flesler/pen/AEIFc - contenteditable placeholder support
// [contenteditable=true]:empty:before {
//   content: attr(data-placeholder);
//   color:#aaa;
//   // display: block; /* For Firefox */
// }

// .cms-editable-region:empty:before {
//   content: attr(data-placeholder);
//   color:#aaa;
//   // display: block; /* For Firefox */
// }
