.cms-modal {
  background-color: #fff;
  color: #222;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  z-index:150;
}

.cms-modal-header-container {
  background-color: #222;
  box-sizing: border-box;
  color: #eee;
  max-height:6rem;
  padding: 10px;
  text-align: center;
}

.cms-modal-back-btn {
  border: 1px solid transparent;
  color: #fff;
  position: absolute;
  top: 6px;
  left:0;
  padding-left:16px;
  &:hover, &:focus {
    border: 1px solid transparent;
    color: #fff;
  }
}

.cms-modal-header {
  margin:0;
  text-align: center;
}

.cms-modal-viewport {
  background-color: #fff;
  box-sizing: border-box;
  color: #222;
  height:100vh;
  overflow: auto;
  padding:30px 10px 30px 10px;
  text-align: center;
  width:100%;
  p {
    margin: 0;
  }
  img {
    box-sizing: border-box;
    display:block;
    height:auto;
    margin: 0 auto;
    max-height:600px;
    max-width:90%;
    padding: 8px;
    margin-bottom: 16px;
  }
  iframe {
    background-color: white;
    border: 2px solid #ccc;
    padding: 0;
    margin: 0;
    -webkit-transition:width 200ms ease-in-out, height 200ms ease-in-out;
    -moz-transition:width 200ms ease-in-out, height 200ms ease-in-out;
    -o-transition:width 200ms ease-in-out, height 200ms ease-in-out;
    transition:width 200ms ease-in-out, height 200ms ease-in-out;
    -webkit-transition:width 200ms ease-in-out, width 200ms ease-in-out;
    -moz-transition:width 200ms ease-in-out, width 200ms ease-in-out;
    -o-transition:width 200ms ease-in-out, width 200ms ease-in-out;
    transition:width 200ms ease-in-out, width 200ms ease-in-out;
  }
}

.cms-modal-viewport-previewer {
  background-color: #eee;
  padding: 0;
  padding-bottom: 60px;
  min-height:100vh;
}

.cms-iframe-resizer {
  box-sizing: border-box;
  display:none;
  padding:10px;
  visibility: hidden;
  width:100%;
  @media (min-width: 768px) {
    display: block;
    visibility: visible;
  }
}

.cms-iframe-resizer-btn {
  background-color: #333;
  border: 0;
  color: #eee;
  display: inline-block;
  font-weight:normal;
  margin-right: 8px;
  &:focus, &:hover  {
    color: #fff;
    font-weight:bold;
  }
}

.cms-iframe-resizer-btn-ipad {
  display:none;
  visibility: hidden;
  @media (min-width: 1025px) {
    display: inline-block;
    visibility: visible;
  }
}

// responsive images

.cms-upload-form {
  margin: 0;
  padding: 0;
}

.cms-modal-image-title {
  font-weight: bolder;
}

// videos/general

.cms-modal-title {
  font-weight: bolder;
  text-align:left;
}

.cms-modal-input {
  margin-top: 14px;
  padding: 10px;
  width:90%;
}

//https://jsfiddle.net/4cwpLvae/
input[type="file"] {
    display: none;
}
.cms-modal-upload-label {
  border: 1px solid #ccc;
  color: #222;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom:32px;
  pointer-events:all;
}

.cms-modal-upload-label-uploading {
  border: 1px solid transparent;
  pointer-events:none;
}

.cms-modal-upload-label-error {
  border-color: red;
  pointer-events:all;
}

//spinner - for ajax showing loading
//https://projects.lukehaas.me/css-loaders/
.cms-loader {
  display: inline-block;
  font-size: 1rem;
  text-indent: -9999em;
  width: 2rem;
  height: 2rem;
  margin-top:3px;
  margin-bottom:-3px;
  margin-right:-6px;
  border-radius: 50%;
  background: green;
  background: -moz-linear-gradient(left, green 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, green 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, green 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, green 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, green 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  opacity: 1;
}
.cms-loader-hidden {
  height: 0;
  display: none;
  opacity: 0;
}
.cms-loader:before {
  width: 50%;
  height: 50%;
  background: green;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.cms-loader:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
