.cms-modal {
  background-color: #fff;
  color: #222;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  z-index:150;
}

.cms-modal-header-container {
  background-color: #222;
  box-sizing: border-box;
  color: #eee;
  max-height:6rem;
  padding: 10px;
  text-align: center;
}

.cms-modal-back-btn {
  border: 1px solid transparent;
  color: #fff;
  position: absolute;
  top: 6px;
  left:0;
  padding-left:16px;
  &:hover, &:focus {
    border: 1px solid transparent;
    color: #fff;
  }
}

.cms-modal-header {
  @media (max-width: 400px){
    font-size:2rem;
  }
  margin:0;
  text-align: center;
}

.cms-modal-viewport {
  background-color: #fff;
  box-sizing: border-box;
  color: #222;
  height:100vh;
  overflow: auto;
  padding:30px 10px 30px 10px;
  text-align: center;
  width:100%;
  p {
    margin: 0;
  }
  img {
    box-sizing: border-box;
    display:block;
    height:auto;
    margin: 0 auto;
    max-height:600px;
    max-width:90%;
    padding: 8px;
    margin-bottom: 16px;
  }
  iframe {
    background-color: white;
    border: 2px solid #ccc;
    padding: 0;
    margin: 0;
    -webkit-transition:width 200ms ease-in-out, height 200ms ease-in-out;
    -moz-transition:width 200ms ease-in-out, height 200ms ease-in-out;
    -o-transition:width 200ms ease-in-out, height 200ms ease-in-out;
    transition:width 200ms ease-in-out, height 200ms ease-in-out;
    -webkit-transition:width 200ms ease-in-out, width 200ms ease-in-out;
    -moz-transition:width 200ms ease-in-out, width 200ms ease-in-out;
    -o-transition:width 200ms ease-in-out, width 200ms ease-in-out;
    transition:width 200ms ease-in-out, width 200ms ease-in-out;
  }
}

.cms-modal-viewport-previewer {
  background-color: #eee;
  padding: 0;
  padding-bottom: 60px;
  min-height:100vh;
}

.cms-iframe-resizer {
  box-sizing: border-box;
  display:none;
  padding:10px;
  visibility: hidden;
  width:100%;
  @media (min-width: 768px) {
    display: block;
    visibility: visible;
  }
}

.cms-iframe-resizer-btn {
  background-color: #333;
  border: 0;
  color: #eee;
  display: inline-block;
  font-weight:normal;
  margin-right: 8px;
  &:focus, &:hover  {
    color: #fff;
    font-weight:bold;
  }
}

.cms-iframe-resizer-btn-ipad {
  display:none;
  visibility: hidden;
  @media (min-width: 1025px) {
    display: inline-block;
    visibility: visible;
  }
}

// responsive images

.cms-upload-form {
  margin: 0;
  padding: 0;
}

// translation manager
.cms-modal-viewport input.cms-trans-autocomplete {
  margin-bottom: 12px;
  width:80vw;
}

.cms-modal-viewport table.cms-trans-table {
  width: 100%;
  // responsive table
  //https://techblog.livingsocial.com/blog/2015/04/06/responsive-tables-in-pure-css/
  @media screen and (max-width: 500px) {
    .cms-trans-table-header {
      display:none;
    }
    tbody {
      position: relative;
      top:24px;
    }
    //override skeleton
    td:first-child {
        padding-left: 15px;
        margin-top: 36px;
    }
    tr {
      margin-bottom: 26px;
    }
    td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: capitalize;
      direction: ltr;
      text-align: left;
      min-width: 130px;
    }
    td {
      display: block;
    }
    td button.cms-trans-btn {
      margin: 0;
      padding: 0;
    }
  }
  // hide native names before we collapse to responsive table (above)
  @media (min-width: 501px) and (max-width: 650px){
    th.cms-trans-header-native-name, td.cms-trans-native-name {
      display:none;
    }
  }
  // styling for all screen sizes
  tr.cms-trans-table-header {
    th {
      text-align:left;
      text-transform: capitalize;
      white-space: nowrap;
    }
  }
  td.cms-trans-url {
    min-width:40px;
  }
  td.cms-trans-passwd {
    min-width:40px;
  }
  //
  button.cms-trans-btn {
    color: #eee;
    background-color: #333;
    border: 0;
    padding: 0 10px;
    margin-top:10px;
    width: 85px;
  }
  button.cms-trans-btn-enable {
    background-color: #260;
  }
  button.cms-trans-btn-disable {
    background-color: #900;
  }
}

// vocab editor

.cms-modal-viewport .cms-vocab-form {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  margin-bottom:40px;
  label.cms-modal-title {
    font-weight: bolder;
    margin: 0 auto 10px;
    min-width: 200px;
    max-width:none;
    padding: 4px 10px 0 20px;
    text-align: left;
    width: 100%;
  }
  .cms-vocab-title {
    box-sizing: border-box;
    padding-top: 12px;
  }
  .cms-vocab-input {
    box-sizing: border-box;
    min-width: 150px;
    width:95%;
  }
  .cms-vocab-uploaded {
    box-sizing: border-box;
    border: 1px solid green;
  }
  table {
    box-sizing: border-box;
    width: 100%;
  }
  tr {
    margin-bottom: 36px;
  }
  td {
    background-color: #eee;
    border: none;
    box-sizing: border-box;
    vertical-align: top;
    width: 50%;
  }
  textarea {
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    margin-bottom: 0;
    min-height: 2rem;
    max-height: 220px;
    width:100%;
  }
  textarea[disabled]{
    background-color: #eee;
    border: none;
    box-sizing: border-box;
    padding-left:30px;
    pointer-events: none;
  }
  @media (max-width: 600px) {
    .cms-vocab-title-right {
      display:none;
    }
    tr {
      margin-bottom: 48px;
    }
    td {
      display:block;
      width:100%;
    }
  }
}


.cms-modal-image-title {
  font-weight: bolder;
}

// videos/general

.cms-modal-viewport p.cms-modal-title, .cms-modal-viewport label.cms-modal-title {
  font-weight: bolder;
  margin: 0 auto 10px;
  min-width: 250px;
  text-align: left;
  width: 90%;
  max-width: 600px;
}

.cms-modal-viewport input.cms-modal-input {
  margin: 0 auto 10px;
  min-width: 250px;
  padding: 10px;
  width: 90%;
  max-width: 600px;
}

//https://jsfiddle.net/4cwpLvae/
input[type="file"] {
    display: none;
}
.cms-modal-upload-label {
  border: 1px solid #ccc;
  color: #222;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom:32px;
  pointer-events:all;
}

.cms-modal-upload-label-uploading {
  border: 1px solid transparent;
  pointer-events:none;
}

.cms-modal-upload-label-error {
  border-color: red;
  pointer-events:all;
}

// file manager (simply uses "phpfm" in iframe)
.cms-modal-viewport.cms-modal-file-manager {
  padding:0;
  margin:0;
  overflow-y: hidden;
  width:100%;
  #file-manager {
    border: 0;
  }
}

//spinner - for ajax showing loading
//https://projects.lukehaas.me/css-loaders/
.cms-loader {
  display: inline-block;
  font-size: 1rem;
  text-indent: -9999em;
  width: 2rem;
  height: 2rem;
  margin-top:3px;
  margin-bottom:-3px;
  margin-right:-6px;
  border-radius: 50%;
  background: green;
  background: -moz-linear-gradient(left, green 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, green 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, green 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, green 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, green 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  opacity: 1;
}
.cms-loader-hidden {
  height: 0;
  display: none;
  opacity: 0;
}
.cms-loader:before {
  width: 50%;
  height: 50%;
  background: green;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.cms-loader:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
