.cms-menu-btn {
  background: transparent;
  border: 0;
  color: #222;
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  height:4rem;
  margin:0;
  margin-top:10px;
  margin-right:26px;
  padding: 0;
  position: fixed;
  text-align: center;
  text-shadow: white 1px -1px 3px;
  top: 0;
  right: 0;
  z-index: 101;
}


.cms-menu-btn-on {
  color: #ffa !important;
  text-shadow: transparent 0px 0px 0px;
}

.cms-menu-btn-white {
  color: #fff !important;
  text-shadow: transparent 0px 0px 0px;
}

.cms-menu-bg {
  background-color: #222;
  position: fixed;
  top:0;
  left:0;
  opacity: 0.5;
  height:100vh;
  width:100vw;
  z-index:99;
}

.cms-menu {
  background-color: #222;
  // box-shadow: 4px 0px 10px 6px #444;
  color: #ddd;
  cursor: default;
  list-style-type: none;
  font-size: 1.6rem;
  font-weight: bold;
  height:100vh;
  max-height:100vh;
  max-width:400px;
  min-width:280px;
  opacity: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  pointer-events: all;
  position:fixed;
  text-transform: capitalize;
  top:0;
  right: 0;
  width:70%;
  z-index:100;
}

.cms-menu-top {
  border-bottom: 1px solid #444;
  list-style-type: none;
  margin: 0;
  height: 60px;
}

.cms-menu-header {
  background-color: #222;
  border-bottom: 1px solid #444;
  cursor: default;
  list-style-type: none;
  text-transform: capitalize;
  margin: 0;
  padding: 18px;
}

.cms-menu-header-sections {
  background-color: #222;
  border-bottom: 0;
}

.cms-menu-item {
  background-color: #333;
  border-bottom: 1px solid #444;
  color: #aaa;
  margin: 0;
  padding: 18px;
  a, a:visited {
    color: #aaa;
    text-decoration:none;
  }
  a:hover, a:focus {
    color: #eee;
  }
  &:focus, &:hover {
    color: #eee;
    .cms-menu-item-icon {
      opacity: 1;
    }
  }
}

.cms-menu-item-add-section {
  background-color: #333;
  color: #aaa;
  cursor: pointer;
  &:hover {
    color: #fff;
  }
}

.cms-menu-item-icon {
  color: #aaa;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  font-weight: normal;
  opacity: 0.4;
  position: absolute;
  line-height: 2.6rem;
  &:hover {
    color: #eee;
  }
}

.cms-menu-item-icon-logout, 
.cms-menu-item-icon-files, 
.cms-menu-item-icon-meta, 
.cms-menu-item-icon-preview, 
.cms-menu-item-icon-translations, 
.cms-menu-item-icon-save {
  color:#ddd;
  cursor: pointer;
  opacity: 0.6;
  right: 15px;
  &:hover {
    color:#fff;
    opacity: 1;
  }
}

.cms-menu .cms-menu-section-item {
  padding-bottom: 12px;
  .cms-menu-item-text {
    display: block;
  }
  .cms-menu-item-icon {
    margin-top: -13px;
  }
  .cms-menu-section-item-desc {
    color: #666;
    display: inline-block;
    font-size: 1.2rem;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
    width: 55%;
  }
}

.cms-menu-item-icon-up {
  color:#6c6;
  right: 90px;
}

.cms-menu-item-icon-down {
  color:#6c6;
  right: 50px;
}

.cms-menu-item-icon-delete {
  color:#f66;
  right: 15px;
}

.cms-ui-hidden {
  opacity: 0;
  pointer-events: none;
}
