.cms-menu-btn {
  background: transparent;
  border: 0;
  color: #222;
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  // width: 70px;
  padding: 0;
  padding-top:10px;
  padding-right:16px;
  margin:0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;
}


.cms-menu-btn-on {
  color: white !important;
}

.cms-menu-bg {
  background-color: #222;
  position: fixed;
  top:0;
  right:0;
  opacity: 0.5;
  height:100vh;
  width:100vw;
  z-index:99;
}

.cms-menu {
  background-color: #333;
  // box-shadow: 4px 0px 10px 6px #444;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  pointer-events: all;
  position:fixed;
  opacity: 1;
  overflow: auto;
  top:0;
  right:-1px;
  width:70%;
  height:100vh;
  max-height:100vh;
  max-width:400px;
  z-index:100;
}

.cms-menu-header {
  border-top: 1px solid #555;
  list-style-type: none;
  height:6rem;
}

.cms-menu-item {
  border-top: 1px solid #444;
  list-style-type: none;
  text-transform: capitalize;
  margin: 0;
  padding: 18px;
  p {
    display: inline-block;
  }
  &:hover {}
}

.cms-menu-item-icon {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-size: 4rem;
  font-weight: 800;
  position: absolute;
  line-height: 1.6rem;
  &:hover {
    color: #ccc;
  }
}

.cms-menu-item-icon-up {
  right: 72px;
}
.cms-menu-item-icon-down {
  right: 24px;
}

  .cms-menu-item-btn {
  font-weight: bold;
  text-decoration: uppercase;
  &:focus {}
  &:hover {}
}

.cms-menu-item-btn-icon {}

.cms-menu-item-btn-busy {}

.hidden {
  opacity: 0;
  pointer-events: none;
  width:0;
}

.dragged {
  background-color:#444;
}

.dragenter {
  background-color:#dd6600;
  padding-top:16px;
  padding-bottom:16px;
}