@import 'colours';
@import 'fonts';
@import 'inline-editor';

.cms-section {
	border: 2px solid $border-color;
}

.cms-ui-btn {
  background: transparent;
  border: 0;
  color: #000;
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  height:70px;
  width: 70px;
  padding: 0;
  margin:0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  &:focus {
    color: orange;
  }
}

//http://stackoverflow.com/questions/2310734/how-to-make-html-text-unselectable?answertab=votes#tab-top
.cms-txt-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}