@import 'colours';
@import 'fonts';

.cms-section {
	border: 2px solid $border-color;
}

.cms-ui-btn {
  background: transparent;
  border: 0;
  color: #000;
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  height:70px;
  width: 70px;
  padding: 0;
  margin:0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  &:focus {
    color: orange;
  }
}

// .cms-editable {
//   &:focus, &:hover {
//     background-color: rgba(255, 220, 0, 0.2);
//   }
// }

[contenteditable]:focus, [contenteditable]:hover {
  outline-color: transparent;
  outline-style: dashed;
  outline-offset: 4px;
  outline-width: 2px;
}

// [contenteditable]:hover, [contenteditable]:focus {
//   outline-color: rgba(150,25,25,0.75);
//   outline-style: dashed;
//   outline-offset: 4px;
//   outline-width: 2px;
// }

.cms-no-outline, .cms-editable-region[contenteditable]:hover {
  outline-color: transparent;
  outline-style: dashed;
  outline-offset: 0;
  outline-width: 0;
}

::selection {
  background: #fff2a8;
}
::-moz-selection {
  background: #fff2a8;
}

p.cms-editable {
  margin-bottom: 24px;
}

.append-media-btn {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  &:hover, &:focus {
    background-color: #ddd;
  }
  color: #000;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  line-height:18px;
  padding: 4px;
  margin: 0 auto;
  margin-bottom:-20px;
  opacity: 0;
  outline-color: transparent;
  outline-style: dashed;
  outline-offset: 0;
  outline-width: 0;
  overflow: hidden;
  text-align:center;
  text-overflow: ellipsis;
  visibility: hidden;
  width: 80px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

p[contenteditable]:hover {
  .append-media-btn {
    opacity: 1;
    visibility: visible;
  }
}

//http://stackoverflow.com/questions/2310734/how-to-make-html-text-unselectable?answertab=votes#tab-top
.cms-txt-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}